:root {
  --color-primary: #fa9645;
  --color-secondary: #f98324;
  --color-background: #fff7ef;
  --color-text-primary: #7b767a;
  --animated-fast: 0.2s;
  --animated-slow: 0.3s;
  --section-gap: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-background);
  width: 1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a button {
  cursor: pointer;
}
